---
import "../css/inter.css";
import {Test} from "../components/Test"
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Astro</title>
  <style type="text/css">
    html {
      font-family: "Inter var", serif;
    }
  </style>
</head>
<body>
<h1>Astro</h1>
<Test/>
</body>
</html>
