<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fail.stderr.sterling.datarepository.mapper.PluginDataMapper">

  <insert id="insert">
    insert into plugindata (pluginId, created, modified, version, json)
    VALUES (#{pluginId},
            #{created},
            #{modified},
            #{version},
            #{json})

  </insert>

  <select id="selectAll" resultType="fail.stderr.sterling.datarepository.model.PluginData">
    select * from plugindata
  </select>

</mapper>
