<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <th:block th:fragment="head-content">

    <script src="/assets/hyperscript/_hyperscript.min.js"></script>
    <script src="/assets/hyperscript/hdb.js"></script>
    <script src="/assets/hyperscript/eventsource.js"></script>
    <script src="/assets/hyperscript/socket.js"></script>
    <script src="/assets/hyperscript/template.js"></script>
    <script src="/assets/hyperscript/worker.js"></script>

  </th:block>

</head>
</html>
